
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .container {
        width: 100%;
        overflow: hidden;
        
    }

    .info-text{
        display: block;
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
    }

    #titrebook {
font-size: 36px;
font-weight: 800;
    }

    #auteur {
        font-size: 20px;
        font-weight: bold;
        display: block;
    background-color: rgba(0,0,0, 0.6);
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    }

    #pages {
        font-size: 18px;
        font-weight: 100;
    }

    #date {
        font-size: 18px;
        font-weight: 100;
        margin-top: 10px;
    }
    #description {
        font-size: 20px;
        font-weight: 500;
    }

    /* CHANGE ALL THE 4 CLASSES TO 2 GENERAL ONCE WE WORK WITH JS */

    .ab2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../assets/images/books/art-book2.jpg');
        background-size:cover;
        background-position: center;
        filter: blur(7px); /* Apply the blur */
        z-index: -1; /* Make sure it stays behind any other content */
    }

    

    .banner-ab2 {
        xbackground-image:url("../assets/images/books/art-book2.jpg");
        background-size:cover;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        border-radius: 2%;
        padding:15%;
        margin-top:15%
    }

    .banner-sb1 {
        xbackground-image:url("../assets/images/books/story-book1.jpg");
        background-size:cover;
        background-position: 50% 7%;
        background-repeat: no-repeat;
        border-radius: 2%;
       height: 300px;
       
    }

    .book-details {
       
        width: 100%;
        
        margin: 0 auto;
        display: block;
        flex-direction: column;
        justify-content: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(12px);
        color:white;
        height: 100vh;
        background-color:rgba(0, 0, 0, 0.4); ;
    }

 

    #blocresume {
        width: 95%;
        margin: 0 auto;
        display: block;
        max-width: 960px;
        padding-top: 60px;
      
        
    }

    .exit-container {
        position: absolute; /* Position the container absolutely */
        top: 10px; /* Distance from the top */
        right: 10px; /* Distance from the right */
    }

    /* Placer la ligne des boutons */
    .button-container {
        display: flex; /* Enable flexbox layout */
        justify-content: center; /* Space out the buttons evenly */
        width: 100%; /* Full width of the container */
        margin-top: 10%;
    }

    .custom-btn {
        background-color: #FFC001;
        color: #ffffff;
        border: none;
        padding: 10px;
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.2s;
    }

    .custom-btn:hover {
        background-color: #b88a00;
    }

    .custom-btn:focus {
        outline: none;
        box-shadow: 0 0 0 4px #b78a00;
    }

    .custom-btn:active {
        background-color: #c39200;
        box-shadow: 0 0 0 4px #ad8200;
    }

    .large-btn {
        flex: 0 0 55%; /* The large button takes 60% of the width */
        margin-right: 15px; /* Optional: Margin between buttons */
    }

    .small-btn {
        flex: 0 0 calc(20% - 10px); /* Each small button takes 20% minus some space for margins */
        margin-right: 5px; /* Optional: Margin between buttons */
    }

    .info-text {
        display: flex; /* Enable flex layout */
        justify-content: space-between; /* Space between text and icon group */
        align-items: center; /* Vertically center content */
    }

    .icon-group {
        display: flex; /* Flex layout for the icon group */
    }

    .icon {
        margin-left: 10px; /* Space between the icons */
    }
